.Home {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 450;
  height: 60;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.input {
  flex: 1;
  margin-left: 10px;
}
