.button {
  list-style: none;
  text-decoration: none;
  //background: orangered !important;
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);

  &--item {
    color: white;
    font-size: 30px;
  }
}

a:link {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
